header{
    background-color: lightblue;
    color: yellow;
    display: flex;
}
img{
    width: 250px;
}

#hed{
    margin-left: 100px;
}

h4{
color: yellow;
text-align: center;
}
nav{
    background-color: #AAAAFF;
    width: 30%;

}
nav ul{
    list-style-type: none;
    padding: 0;
    
}
main{
    display: flex;
    background-color:#AAAAFF ;
}
nav a{
    color: navy;
    display: block;
    margin: 2px;
    padding: 10px;
    text-decoration: none;
    border-bottom: 3px solid yellow;
}
nav a:hover{
    color: orange;
    background-color: white;
}
section{
    background-color: #AAAAFF;


}
footer{
    background-color: lightblue;
    color: yellow;
}
article{
    background-color: #eee;
    margin: 10px;
    padding: 10px;
    border:3px solid #AAAAFF;
    top: 10px;
    left: 15px;
    width:100%
    
    

    
}
article h3{
    text-align: center;
    background-color:lightblue;
    color: white;
    width:100%
    

}
footer{
    text-align: center;
    background-color: lightblue;
    color:yellow;
    clear:both;
    padding: 20px;
}
#content{
    display: flex;
    flex-wrap: wrap;


}
img{
    border-radius: 20px 20px 20px 20px  ;
    

}
#content img{
    box-shadow: 15px 15px 10px grey;
    
}

#content1{
    background-color: #eee;
}
#h3{
    background-color: lightblue;
    color: white;
    text-align: center;
}
.form-container{
    background-color: #eee;
    margin: 50px;
    padding: 20px;
    border: 3px solid #AAAAFF;
    border-radius: 12px;
    margin-top: 50px;
    width: 100%;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    justify-content: center;
    
}
h2{
    text-align: center;
    color: navy;
}
label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;}
input[type="text"],
input[type="email"],
input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
box: shadow 0.3s; 
}
button[type="submit"]{
    width: 100%;
    background-color: navy;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: lightblue;}
